.wrapper {
    max-width: 640px;
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    border: 1px solid #c2c2c2;
    padding: 55px;
    margin: auto;
    border-radius: 8px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin: 13px 0;
}

.form__label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

.form__select {
    padding: 4px 0;
    font-size: 14px;
}

.form__input {
    padding: 4px 0;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #c2c2c2;
    text-indent: 8px;
}

.form__submit {
    width: 144px;
    padding: 8px 0;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    background: #41a645;
    color: #fff;
}

.table {
    width: 100%;
    border-radius: 4px;
    margin-top: 34px;
}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
}
table.greyGridTable tbody td {
    font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
}
table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
    border-left: none;
}

table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
    font-size: 14px;
}